################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PharmaStock/CopilotIndices/17.12.38.29086
/.vs/PharmaStock/copilot-chat/6c050bef/sessions
/.vs/PharmaStock/FileContentIndex
/.vs/PharmaStock/v17
/PharmaStock/obj/Release/net8.0
