################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PharmaStock/CopilotIndices/17.12.38.29086
/.vs/PharmaStock/FileContentIndex
/.vs/PharmaStock/v17
/PharmaStock/.vs/PharmaStock/CopilotIndices/17.12.38.29086
/PharmaStock/.vs/PharmaStock/DesignTimeBuild
/PharmaStock/.vs/PharmaStock/FileContentIndex
/PharmaStock/.vs/PharmaStock/v17
