.export-form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  margin-top: 20px;

  width: 100%;
  align-items: center;
}

.export-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;

  width: 100%;
  max-width: 250px;

  text-align: center;
}

.error-message {
  color: #d32f2f;

  margin-top: 16px;

  font-weight: 600;
}