/* ================= LOGIN CONTAINER ================= */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--bg-color);
}

/* ================= LOGO ================= */

.login-logo {
  width: 180px;
  height: auto;
  margin-bottom: 24px;
}

/* ================= LOGIN CARD ================= */

.login-card {
  width: 320px;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  align-content: center;
  background-color: var(--card-color);

  color: var(--card-text);
}

/* ================= INPUT FIELDS ================= */

.login-card input {
  display: block;
  width: 75%;
  margin: 10px auto;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 4px;
  align-content: center;
}

/* Optional subtle focus style */
.login-card input:focus {
  outline: none;
  border-color: var(--light-accent);
}

#login-btn {
  display: block;
  width: 50%;
  margin: 10px auto 0 auto;
}
