.login-container {
  display: flex;
  flex-direction: column;     
  justify-content: center;    
  align-items: center;        
  height: 100vh;
  background-color: var(--bg-color);
}


.login-logo {
  width: 240px;               
  height: auto;
  margin-bottom: 20px;
}

/* Show/Hide Logos Based on Theme */

.logo-dark {
  display: none;              /* hide dark logo by default */
}

:host-context(body.dark-theme) .logo-light {
  display: none;
}

:host-context(body.dark-theme) .logo-dark {
  display: block;
}

.login-card {
  width: 320px;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  background-color: var(--card-bg);
  color: var(--card-text);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.login-card input {
  display: block;
  width: 75%;                 
  margin: 0 auto 12px;        
  padding: 8px;
  box-sizing: border-box;
  color: var(--card-text);
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-card button {
  display: block;
  width: 50%;                 
  margin: 10px auto 0;
  padding: 10px;
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16pt;         
  font-weight: 600;
  transition: opacity 0.2s ease;
}

.login-card button:hover {
  opacity: 0.85;
}
