@use '@angular/material' as mat;

@include mat.core();

/* Light theme */
$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$blue-palette,
  ),
));

/* Dark theme */
$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$blue-palette,
  ),
));

body.light-theme {
  @include mat.all-component-themes($light-theme);
}

body.dark-theme {
  @include mat.all-component-themes($dark-theme);
}

body.compact-density .mat-mdc-cell,
body.compact-density .mat-mdc-header-cell {
  padding: 4px 8px !important;
  font-size: 13px;
}
